.page#index #landing {
    position: relative;
    height: calc(100vh - 4rem);
}

.page#index .introduction {
    display: inline-block;

    background-color: var(--introduction-bg);
    color: var(--introduction-fg);

    margin: 32px;
}

@media screen and (max-width: 899px) {
    .page#index .introduction {
        margin: 0;
        padding: 1rem 1rem;
    }

    .page#index #landing .catchphrase {
        font-size: 4vw;
        bottom: 0;
        right: 0;
    }
}

@media screen and (min-width: 900px) {
    .page#index .introduction {
        max-width: 768px;
        padding: 4rem 2rem;
    }

    .page#index #landing .catchphrase {
        font-size: 2.5rem;
        bottom: 8rem;
        right: 4rem;
    }
}

@media screen and (max-width: 450px) {
    .page#index #landing .catchphrase {
        display: none;
    }
}

.page#index #landing .catchphrase {
    margin: 1.2rem;

    position: absolute;

    text-align: right;
}

.page#index #landing .catchphrase .line {
    display: inline-block;

    padding: 0.2rem 2rem;

    background-color: var(--catchphrase-bg);
    color: var(--catchphrase-fg);

    user-select: none;
}
.page#index #landing .catchphrase br {
    line-height: 2em;
}
.page#index #landing .catchphrase .line .highlight {
    font-weight: 700;
}