body {
    background-color: var(--bg);
    letter-spacing: -0.04em;
    font-size: 1.3rem;
}

code {
    background-color: var(--code-bg);
    color: var(--code-fg);
    padding: 0.2em 0.4em;
    border-radius: 0.4em;
}

:lang(ko) {
    word-break: keep-all;
}