:root {
    --navbar-bg: hsl(230, 5%, 90%);
    --navbar-bg-selected: hsl(230, 5%, 80%);

    --menu-selected: hsl(230, 60%, 60%);

    --code-bg: hsl(230, 15%, 65%);
    
    --bg: hsl(230, 25%, 80%);
}
