.icon {
    height: 1em;
    vertical-align: middle;
    text-decoration: none;
    display: inline-block;
    pointer-events: none;
}

.icon.material {
    font-family: 'Material Icons Outlined';
    font-feature-settings: 'liga';
    letter-spacing: normal;
    line-height: 1;
}
