.navbar {
    background-color: var(--navbar-bg);
    font-size: 24px;
    width: 100vw;
}

.navbar .logo {
    height: 1em;
    vertical-align: middle;
}

.navbar .daily {
    font-weight: 500;
}

.navbar .boj {
    font-weight: 700;
}

.navbar .spacing {
    display: inline-block;
    width: 4em;
}

.navbar .menu[data-is-selected=true] {
    text-decoration-color: var(--menu-selected);
    text-decoration: underline;
}