.navbar {
    background-color: var(--navbar-bg);
    font-size: 1.5rem;
    width: 100vw;
    padding-left: 1rem;

    position: fixed;
    top: 0;
}

.navbar, .navbar-fake {
    height: 3rem;
}

.navbar-fake {
    margin-bottom: 1rem;
}

.navbar, .navbar a, .navbar nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar a {
    height: 100%;
}

.navbar .brand {
    margin-right: 1rem;
}

.navbar .logo {
    height: 1em;
    vertical-align: middle;
    margin-right: 0.2rem;
}

.navbar .daily {
    font-weight: 500;
}

.navbar .boj {
    font-weight: 700;
}

.navbar .nav {
    padding: 0 1rem;
    border-bottom: 4px solid transparent;
    height: 100%;
}

.navbar .nav[data-is-selected=true] {
    background-color: var(--navbar-bg-selected);
    color: var(--menu-selected);
    border-color: var(--menu-selected);
}